
@font-face {
  font-family: "AnonymousPro";
  src: url("fonts/AnonymousPro.woff2") format("woff2"),
       url("fonts/AnonymousPro.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  padding: 6rem;

 background: url("background.png") center / cover no-repeat fixed;

 font-family: "AnonymousPro", monospace;
 color: #000;
}

.page {
  aspect-ratio: 4 / 3;
  width: 70vw;
  max-width: 900px;

  padding: 40px;
  box-sizing: border-box;
}


.subtitle {
  margin-bottom: 2rem;
  opacity: 0.85;
}

.centered {
  text-align: center;
}

ul.links {
  list-style: none;
  padding: 0;
}


ul.links span {
  display: block;
  font-size: 0.9em;
  opacity: 0.8;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #ffabe7;
}