@font-face {
  font-family: "AnonymousPro";
  src: url("fonts/AnonymousPro.woff2") format("woff2"),
       url("fonts/AnonymousPro.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 4;
}

body {
  font-family: "Anonymous Pro", monospace;
  background: url("images/background.png") center / cover no-repeat;
  color: rgb(0, 0, 0);
  min-height: 100vh;
  transition: background-image 0.05s ease;
}

.container {
  padding: 40px;
  display: flex;
  justify-content: flex-end;
}

.text-box {
  aspect-ratio: 4 / 3;
  width: 600px;

  background: rgba(255, 255, 255, 0.507);
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);

  border: 1px border rgba(255, 255, 255, 0.452);
  border-radius: 7px;

  color: black;
  padding: 20px;
}


.text-box p {
  margin-bottom: 16px;
  line-height: 1.5;
}

a {
  color: #000000;
  transition: filter 0.3s ease;
}

a:hover {
  color: #000000;
  filter: blur(2px);
}

.links li {
  margin-bottom: 24px;
}

